@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/**reset CSS mini**/

a{
    text-decoration: none;
}




.body{
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 50px;
    text-align: center;
}

.btn{
    color:#080808;
    background-color: #a491ff;
}

#protocolo{
    margin-top: 20px;
}

h1{
    padding-top: 10px;
}