@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/**reset CSS mini**/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif; /**Precisa Alterar para a fonte do projeto**/
    max-width: auto;
}

.glyphicon{
    font-size:25px;
    color: #6b31ff;
}


a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #210070;
    outline: #0f0449;
}

ul,ol{
    list-style: none;
}
/**Fim reset CSS mini**/


/**Principal**/
main{
    
    display: inline-flex;
    padding: 0 50px;
    margin: 5px;

}

section.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/**Fomulário**/

.form-control{
    margin-top: 30px;
}
form.flex-form{
    display: inline-flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 10px 10px;
    
}

.flex-input{
    margin-bottom: 20px;
    color: rgb(107, 49, 255);
    font-weight: bold;
    text-align: center;
    padding: 5px 50px 5px 0px;
    margin-top: 30px;

}

.flex-input input{
    border-radius: 5px;
    padding: 5px 0px;
    text-align: center;
    
    
}
.flex-input label{
    color: rgb(107, 49, 255);
    font-weight: bolder;
    font-size: 1.2em;  
}

.flex-botao{
align-self: center;
}

.flex-botao input{
    background-color: #50f;
    border: none;
    padding: 8px 20px;
    color: #fafafafa;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black; 
}


#id{
    width: 7em;
}

/**Fim Formulário**/


/**Card Informaçoes**/
.flex-id{
    display: flex;




}

.flex-id h1{
    color: #50f;
}

.flex-item-id{
    border: 2px solid #2f54eb;
    width: 30em;
    border-radius: 5px;
    background-color: white;

}

.flex-id .flex-id_box{
    font-size: 1.5em;
    font-weight: bold;

}

.flex-id figure{
    text-align: center;
    
    float: left;
    margin-top: 1em;
    margin-left: 15px;
    margin-right: 1em;
    padding: 10px 2px;
}


.flex-id img{
    box-shadow: 2px 2px 5px black;
    border: 1px solid #2f54eb;
    padding: 2px;
   
}
.status_ferramentas{
    float: right;
    margin-right: 3px;
  
}

.flex-id .flex_id_dados{
    margin-bottom: 1em;
    
}

.margem_top_dados{
    margin-top: 4em;
}

.logar_botao{
    float: right;
    margin-right: 1em;

}

.btn_logar{
    background-color: #2f54eb;
    color: #fafafafa;
    padding: 2px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px blue;
   
}

.bt_flex{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2px 0px;
    
}

.adicionar_botao{
    margin-top: 5px;
}

.btn_adicionar{
    background-color: #2f54eb;
    color: #fafafafa;
    padding: 2px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px blue;
}

.excluir_botao{
    margin-top: 5px;
    float: right;
}

.btn_excluir{
    background-color: #f5222d;
    color: #fafafafa;
    padding: 2px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px rgb(255, 0, 0);
}

/**Fim Card Informações**/
/**Fim Principal**/


/**lateral**/

aside.flex-container{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
    padding: 0 5px 0 5px;
    margin: 5px;

    justify-items: flex-start;

    
}

aside h1{
    color: #50f;
}

aside section.flex-container{
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-align: center;
}


table.flex-item{
    justify-self: left;
    padding: 50px;
}

.container-lateral h1{
    text-align: left;
}
.table{
    background-color: rgba(107, 49, 255, 0.5);
    box-shadow: 2px 2px 5px rgb(107, 49, 255); 
}    
/**Fim Lateral**/


/**
Apoio
Fonte padrão idwall: Inter (12px)
CSS com as cores da idwall:
--primary-color: #50f;              --gray-700: #595959;
--secondary-color: #fff;            --gray-800: #262626;
--success-color: #52c41a;           --gray-900: #000;
--error-color: #f5222d;
--warning-color: #faad14;           --green-50: #f6ffed;
--main-background: #fafafa;         --green-100: #d9f7be;
                                    --green-200: #b7eb8f;
--purple-50: #f3f2ff;               --green-300: #95de64;
--purple-100: #c8c2ff;              --green-400: #73d13d;
--purple-200: #a491ff;              --green-500: #52c41a;
--purple-300: #8561ff;              --green-600: #389e0d;
--purple-400: #6b31ff;              --green-700: #237804;
--purple-500: #50f;                 --green-800: #135200;
--purple-600: #4100cf;              --green-900: #092b00;
--purple-700: #30009f;
--purple-800: #210070;              --red-50: #fff1f0;
--purple-900: #130040;              --red-100: #ffccc7;
                                    --red-200: #ffa39e;
--gray-50: #fff;                    --red-300: #ff7875;
--gray-100: #fafafa;                --red-400: #ff4d4f;
--gray-200: #f5f5f5;                --red-500: #f5222d;
--gray-300: #e8e8e8;                --red-600: #cf1322;
--gray-400: #d9d9d9;                --red-700: #a8071a;
--gray-500: #bfbfbf;                --red-800: #820014;
--gray-600: #8c8c8c;

--red-900: #5c0011;      --yellow-900: #613400
--yellow-50: #fffbe6;    --blue-50: #f0f5ff;
--yellow-100: #fff1b8;   --blue-100: #d6e4ff;
--yellow-200: #ffe58f;   --blue-200: #adc6ff;
--yellow-300: #ffd666;   --blue-300: #85a5ff;
--yellow-400: #ffc53d;   --blue-400: #597ef7;
--yellow-500: #faad14;   --blue-500: #2f54eb;
--yellow-600: #d48806;   --blue-600: #1d39c4;
--yellow-700: #ad6800    --blue-700: #10239e;
--yellow-800: #874d00;   --blue-800: #061178;
--blue-900: #030852;

**/