body{
    margin: 0;
    padding: 0;
    
}


.navbar{
    background-color: #c8c2ff;
}

.body{
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 50px;
    text-align: center;
}

.btn{
    color:#080808;
    background-color: #a491ff;
}